MONDAY:
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <% @rooms.each do |room| %>
      <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= Schedule.display_schedule.html_safe %>
  <tr>
  <td>&nbsp;</td>
  <td class="table-info">Info</td>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td class="table-danger">Danger</td>
  <td>&nbsp;</td>
  <td class="table-warning">Warning</td>
  </tr>
  </tbody>
</table>
