MONDAY:
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <% @rooms.each do |room| %>
      <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= Schedule.display_schedule('monday').html_safe %>
  </tbody>
</table>
