<p><%= image_tag "logos/#{@school.id}/logo.png", width: '200' %> Welcome to <%= @school.name %>!
<div class = 'card'>
  <h3>Today's docket:</h3>
  <% if current_user.account.admin %>
    <% @school.schedules.where(start_date: Time.now.to_date).order_by_time.each do |schedule| %>
      <%= link_to "#{schedule.event.name} #{schedule.start_time.strftime('%l:%M%P')}", school_event_path(@school, schedule.event) %>
    <% end %>
  <% else %>
    <% @events.each do |event| %>
      <% event.schedules.where(start_date: Time.now.to_date).each do |schedule| %>
      <%= link_to "#{schedule.event.name} #{schedule.start_time.strftime('%l:%M%P')}", school_event_path(@school, schedule.event) %>
      <% end %>
    <% end %>
  <% end %>
</div>
